
<mat-toolbar color="primary" class="example-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggle()">
      <mat-icon class="first-icon">menu</mat-icon>
    </button>
    <h1 class="example-app-name" [routerLink]="['']"  >{{ title }}</h1>
    <span class="example-spacer"></span>
    <ng-container
      *ngTemplateOutlet="
        !medyaQueryParent.matches ? not_responsive : responsive
      "
    >
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>


<ng-template #not_responsive>
  <sub-menu [medyaQueryParent]="medyaQueryParent"></sub-menu>
</ng-template>
<ng-template #responsive>
  <mat-menu #appMenu="matMenu">
    <sub-menu [medyaQueryParent]="medyaQueryParent"></sub-menu>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="menu icon"
      >more_vert</mat-icon
    >
  </button>
</ng-template>


