<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-nav-header (toggleEmit)="emitAction($event)" [medyaQueryParent]="mobileQuery"></app-nav-header>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" (click)="sidenav.toggle()">
      <app-nav-menu></app-nav-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet>
        <style>
          .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            background: #303030;
            margin: 0;
            padding: 0;
            color: purple;
            text-transform: uppercase;
            font-size: 2.5em;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          }

          .spinner {
            width: 40px;
            height: 40px;
            background-color: purple;

            margin: 100px auto;
            -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
            animation: sk-rotateplane 1.2s infinite ease-in-out;
          }

          @-webkit-keyframes sk-rotateplane {
            0% {
              -webkit-transform: perspective(120px)
            }

            50% {
              -webkit-transform: perspective(120px) rotateY(180deg)
            }

            100% {
              -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
            }
          }

          @keyframes sk-rotateplane {
            0% {
              transform: perspective(120px) rotateX(0deg) rotateY(0deg);
              -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
            }

            50% {
              transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
              -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
            }

            100% {
              transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
              -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            }
          }
        </style>
        <div *ngIf="isShow; then show "> </div>
        <ng-template #show>
          <div class="loading">
            <div class="spinner"></div>
          </div>
        </ng-template>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2019 Developer:
      <a href="https://github.com/IvanMonroy"> Iván Monroy</a>
    </div>
  </footer>
</div>